{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false,
        "minify": false,
        "pure": true,
        "transpileTemplateLiterals": true
      }
    ]
  ]
}